body{
 margin: 0;
 padding: 0px;
 font-family: sans-serif;
 background-color: black;
}

header{
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(243, 2, 38, 0.49);
    color: aliceblue;
    align-items: center;
    border-radius: 10%;
}

header #marca{
    color: rgba(15, 199, 193, 0.975);
    font-style: oblique;
}

.galeria-de-imagens{
display: flex;
justify-content: center;
}


.galeria-de-imagens img{
height: auto;
width: 33.3%;
border-radius: 8px;
box-shadow: 0 4px 10px rgba(0,0,0,0.2);
transition: transform 0.3s ease;
}

.galeria-de-imagens img:hover {
  transform: scale(1.05);
 }

#titulo{
color: rgb(11, 91, 230);
display: flex;
justify-content: center;
text-transform: uppercase;
background-color: rgb(0, 0, 0);
 }

.galeria-de-filmes{
display: flex;
justify-content: center;

}

.galeria-de-filmes img{
height: auto;
width: 14%;
margin: 40px;
max-width: 300px;
width: 100%;
}

figcaption{
color: rgb(230, 229, 232);
display: flex;
justify-content: center;
}

.galeria-de-filmes img:hover{
  transform: scale(1.11);
}

a {
  color: inherit; /* Faz o link herdar a cor do texto ao redor */
  text-decoration: none; /* Remove o sublinhado */
}

h2{
color: rgb(11, 91, 230);
display: flex;
justify-content: center;
text-transform: uppercase;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}